h3{color:darkred:
font-style:italic;}

body{background-color:red;}
p {color:green; text-decoration;}
/*
a:link<color:sienna;
		text-decoration;none;}
a:hover{color:#CC11DD;background-color:lightbskyblue;}
a:active{color:saddlebrown;}
a:visited{color:deeppink;}*/